        .input-container {
          display: flex;
          align-items: flex-start;
    }
        .custom-input {
            width: 445px;
            height: 380px;
            padding-bottom: 6px;
            box-sizing: border-box;
            white-space: pre-wrap;
            resize: none; /* 사용자가 크기 조정하지 못하도록 설정 */

        }

        .custom-input::placeholder {
            line-height: 25px;
            vertical-align: top;
            font-size: 15px;
        }
        .btn-container {
          display: flex;
          align-items: flex-start;
          margin-left: 389px;


    }
        #sidebarToggle {
           width: 55.6px;

           font-size: 1.13rem;

        }

       #response {
          margin-right: 20px;
       }

